* {
    font-family: 'Open Sans';
}

.bar {
    list-style: none;
    margin: 0;
}

.bar >li {
    position: relative;
    margin: 0;
    padding: 10px 0;
}

.bar>li:before {
    position: absolute;
    content: 'â—';
    color: darkblue;
    font-size: 32px;
}

.bar>li:after {
    position: absolute;
    margin-left: 8px;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-left: 4px solid darkblue;
    content: '';
}

/* .bar >li:first-of-type:after {
    top: 20%;
} */

.siteDiv {
    margin: 0 8px;
    padding-top: 8px;
    padding-left: 24px;
}

.siteLabel{
    margin: 0;
}

.siteData{
    display: inline;
    padding-right: 16px;
}