* {
    font-family: "Open Sans";
}

h1 {
    margin-left: 16px;
}

.bar {
    list-style: none;
    margin: 0;
}

.bar > li {
    position: relative;
    margin: 0;
    padding: 10px 0;
}

.bar > li:before {
    position: absolute;
    content: "â—";
    color: var(--color, darkblue);
    font-size: 32px;
    z-index: 1;
}

.bar > li:after {
    position: absolute;
    margin-left: 8px;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-left: 4px solid var(--color, darkblue);
    content: "";
}

/* .bar >li:first-of-type:after {
    top: 20%;
} */

.siteDiv {
    margin: 0 8px;
    padding-top: 8px;
    padding-left: 24px;
}

.siteLabel {
    margin: 0;
}

.siteData {
    display: inline;
    padding-right: 16px;
}
